/*-- scss:defaults --*/

/*
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;
*/

/*-- scss:rules --*/

h1, h2, h3 {
    color: #0000FF; /* Blue color */
  }

blockquote {
    color: #0000FF; /* Blue color */
}

