/*-- scss:defaults --*/

/*
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;
*/

/*-- scss:rules --*/

h1, h2, h3 {
    color: #0000FF; /* Blue color */
  }

.blockquote {
    color: #0000FF; /* Blue color */
}

// Examples are a theorem class
.theorem-title {
  font-size: 1.2rem; // Example: 1.2 times the root element's font size
  // or
  // font-size: 20px; // Example: a fixed pixel value
  // or
  // font-size: $base-font-size * 1.25; // Example: using a variable for calculation
}
